* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero{
    height: 200px;
    background-image: linear-gradient(
  50deg,
  hsl(0deg 0% 0%) 0%,
  hsl(300deg 100% 1%) 11%,
  hsl(288deg 71% 1%) 22%,
  hsl(293deg 80% 2%) 33%,
  hsl(289deg 85% 3%) 44%,
  hsl(295deg 75% 3%) 56%,
  hsl(292deg 79% 4%) 67%,
  hsl(293deg 82% 4%) 78%,
  hsl(291deg 77% 5%) 89%,
  hsl(292deg 79% 6%) 100%
);
    position: relative;
}

.credit-card-back {
    background-color: rgb(219, 218, 218);
    width: 300px;
    height: 150px;
    position: absolute;
    top: 32px;
    right: 16px;
    border-radius: 10px;
}

.black-stripe {
    margin-top: 16px;
    margin-bottom: 10px;
    height: 2rem;
    width: 100%;
    background-color: black;
}

.gray-stripe {
    background-color: rgb(128, 128, 133);
    color: azure;
    width: 80%;
    height: 2rem;
    margin: 0 auto;
    border-radius: 5px;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}
.credit-card-front {
    padding: 1.3rem;
    color: white;
    width: 300px;
    height: 150px;
    background-color: red;
    position: absolute;
    bottom: -70px;
    left: 16px;
    background-image: linear-gradient(
  125deg,
  hsl(267deg 93% 47%) 0%,
  hsl(273deg 89% 42%) 11%,
  hsl(279deg 85% 36%) 22%,
  hsl(285deg 81% 30%) 35%,
  hsl(291deg 76% 25%) 47%,
  hsl(290deg 83% 25%) 60%,
  hsl(287deg 88% 25%) 72%,
  hsl(286deg 94% 25%) 86%,
  hsl(284deg 100% 26%) 100%
);
    border-radius: 10px;
}

.card-top {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 2rem;
}

.big-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
}

.small-circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100%;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.card-number {
    letter-spacing: .1rem;
    word-spacing: 1rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
}

.main {
    height: 70%;
    background-color: white;
    padding: 5rem 2rem 5rem 2rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    color: hsl(278, 68%, 11%);
    font-size: 16px;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.normal-input {
    height: 2.5rem;
    padding: 5px 10px;
    border: 1px solid rgb(175, 170, 170);
    border-radius: 8px;
    color: hsl(278, 68%, 11%);
    font-size: 16px;
}

.normal-input:focus {
    outline: none;
    border: 1px solid hsl(278, 68%, 11%);;
}

.normal-input::placeholder {
    opacity: .5;
    color: rgb(138, 126, 126);
}

.expiration-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.expiration-left {
    flex: 1;
    min-width: none;
}

.expiration-left-inputs {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.expiration-left-inputs > input {
    width: 100%;
    min-width: 30%;
}

.expiration-right {
    flex: 1;
    min-width: none;
}

.confirm-button {
    width: 100%;
    background-color: rgb(25, 1, 36);
    color: white;
    font-size: 1rem;
    padding: 1rem;
    display: inline-block;
    letter-spacing: .1rem;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
    border: none;
}